{% extends 'base.html' %}
{% block title %}
    Все посты найденные по запросу "Кот и Хлеб"
{% endblock %}

{% block content %}

    <a href="{{ url_for('page_index') }}" class="link">Назад</a>

    <h1>Посты по запросу "Кот и Хлеб"</h1>

    {% for post in posts %}
        <div class="post">
            <img src="{{ post.pic }}"
                 width="100%" alt="">
            <p>Описание поста тут </p>
        </div>
    {% endfor %}


    <hr>


    <a href="{{ url_for('page_post_form') }}" class="button btn">Добавить пост</a>

{% endblock %}
