{% extends 'base.html' %}
{% block title %}
    Все посты найденные по запросу "{{ search_word }}"
{% endblock %}

{% block content %}

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{ search_word }}"</h1>

    {% for post in posts %}
        <div class="post">
            <img src="{{ post.pic }}"
                 width="100%" alt="">
            <p>{{ post.content }}</p>
        </div>
    {% endfor %}


    <hr>


    <a href="/post_form" class="button btn">Добавить пост</a>

{% endblock %}
