{% extends 'base.html' %}
{% block title %}
    Все посты найденные по запросу "{{ search_word }}"
{% endblock %}

{% block content %}

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{ search_word }}"</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts %}
            <div class="col">
                <div class="post card">
                    <img src="{{ post.pic }}" class="card-img-top" width="100%" alt="">
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <hr>


    <a href="/post_form" class="button btn">Добавить пост</a>

{% endblock %}
