{% extends 'base.html' %}
{% block title %}
    Добавить пост
{% endblock %}

{% block content %}

    <a href="{{ url_for('page_index') }}" >Назад</a>

    <h1>Добавить пост</h1>

    <form action="{{ url_for('page_post_upload') }}" method="POST" enctype="multipart/form-data">
        <p>Картинка к посту</p>
        <div>
            <input type="file" name="picture">
        </div>
        <p>Текст к посту</p>
        <div>
            <textarea name="content" rows="5"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-primary mt-2">Добавить</button>
        </div>
    </form>

{% endblock %}
